@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
/* ========== ROOT VARIABLES ========== */
:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-ligth: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shandow: 0 0 .5rem rgba(128, 128, 128, 0.5);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: 0;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none; /* pesquise sobre */
    overflow-x: hidden;
}

.container{
    display: block;
    width: 96%;
    margin: 0 auto;
}

a{
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800; /* pesquise sobre */
    font-size: 1.8rem;
    color: var(--color-dark);
}

h2 {
    font-size: 1.4rem;
    color: var(--color-dark);
}

h3 {
    font-size: 0.87rem;
    color: var(--color-dark);
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

h6 {
    font-size: 0.75rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.is-green{
    color: var(--color-success);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

/* ================== MAIN =============== */
main{
    margin-top: 1.4rem;
    z-index: 3;
}
main .header{
    display: flex;
}
main .manage-storage{
    background-color: var(--color-white);
    padding: 15px;
    border-radius: var(--card-border-radius);
    height: auto;
}
main .manage-storage input{
    visibility: hidden;
}
main .manage-storage div{
    display: flex;
    margin-bottom: .5rem;
    width: auto;
}
main .manage-storage .content-items{
    display: grid;
    gap: .5rem;
}

main .manage-storage div button{
    display: flex;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    box-shadow: var(--box-shandow);
    background: var(--color-white);
    border-radius: 10px;
    padding: 10px;
    transition: width 3000ms ease;
}
main .manage-storage div button input{
    /* opacity: 0; */
    width: 0;
    margin-left: 0px;
    transition: width 2000ms ease;
}
main .manage-storage div button a{
    display:none;
    width: 0;
    margin-left: 0px;
    transition: width 2000ms ease;
}

main .manage-storage div button:hover input{
    opacity: 100;
    visibility: visible;
    width: auto;
    margin-left: 10px;
}
main .manage-storage div button:hover a{
    display: block;
    width: auto;
    margin-left: 10px;
}

main .manage-storage #more{
    display: block;
    width: auto;
}
#butmore{
    margin-left: 10px;
}
main .manage-storage .directories{
    display: flex;
    align-items: center;
    width: auto;
    cursor: pointer;
    box-shadow: var(--box-shandow);
    background: var(--color-white);
    border-radius: 10px;
    padding: 10px;
    /* margin-left: auto; */
}
main .manage-storage .item-list{
    align-items: center;
    width: auto;
    display: flex;
    box-shadow: var(--box-shandow);
    background: var(--color-white);
    border-radius: 10px;
    padding: 10px;
}

main .manage-storage .item-list .name-descripition{
    margin-right: auto;
    margin-left: 5px;
    right: 0;
}
main .manage-storage .item-list .name-descripition a {
    cursor: pointer;
}
main .manage-storage .item-list .trash{
    cursor: pointer;
    right: 0;
}

/* =============== right ============= */

.right{
    margin-top: 1.4rem;
}

.right .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}
